<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgut.covid19statistics.mapper.ConfirmedGlobalMapper">

    <resultMap id="BaseResultMap" type="com.dgut.covid19statistics.domain.ConfirmedGlobal">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="provinceOrState" column="Province_or_State" jdbcType="VARCHAR"/>
        <result property="countryOrRegion" column="Country_or_Region" jdbcType="VARCHAR"/>
        <result property="date" column="date" jdbcType="DATE"/>
        <result property="count" column="count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,Province_or_State,Country_or_Region,
        date,count
    </sql>
    <insert id="insertBatch">
        INSERT INTO `confirmed_global` (Province_or_State, Country_or_Region, date, count)
        VALUES
        <foreach collection="globals" item="global" separator=",">
            (#{global.provinceOrState}, #{global.countryOrRegion}, #{global.date}, #{global.count})
        </foreach>
    </insert>
    <select id="getNewestDate" resultType="java.time.LocalDate">
        SELECT MAX(date)
        FROM confirmed_global
        group by Country_or_Region
        LIMIT 1;
    </select>
    <select id="countByCountryOrRegion" resultType="java.lang.Integer">
        SELECT SUM(`count`)
        FROM confirmed_global
        <where>
            <if test="countryOrRegion != null">
                `Country_or_Region` = #{countryOrRegion}
            </if>
            <if test="dates != null and dates.size() != 0">
                AND date IN
                <foreach collection="dates" item="date" open="(" close=")" separator=",">
                    #{date}
                </foreach>
            </if>
        </where>
        group by `Country_or_Region`, date
        order by date
    </select>
    <select id="countGlobalByDate" resultType="java.lang.Integer">
        SELECT SUM(count)
        FROM confirmed_global cg
        WHERE date = #{date}
        GROUP BY date
    </select>
    <select id="count" resultType="com.dgut.covid19statistics.domain.Record">
        SELECT Country_or_Region, SUM(count) AS `count`
        FROM confirmed_global cg
        <where>
            <if test="date != null">
                date = #{date}
            </if>
            <if test="country != null">
                AND Country_or_Region=#{country}
            </if>
        </where>
        group by Country_or_Region
        <choose>
            <when test="orderBy == 'Country_or_Region'.toString()">
                ORDER BY Country_or_Region
            </when>
            <when test="orderBy == 'count'.toString()">
                ORDER BY count
            </when>
        </choose>
        <if test="isAsc == false">
            DESC
        </if>
        <if test="limit > 0">
            LIMIT #{limit}
        </if>
    </select>
    <select id="countSelective" resultType="java.lang.Integer">
        SELECT SUM(count)
        FROM confirmed_global cg
        <where>
            <if test="ignores != null and ignores.size() > 0">
                Country_or_Region NOT IN
                <foreach collection="ignores" item="country" open="("
                         close=")" separator=",">
                    #{country}
                </foreach>
            </if>
        </where>
        GROUP BY date
        ORDER BY date;
    </select>
</mapper>
